// FONTS
$ssp: 'Source Sans Pro', sans-serif;
$josefine: 'Josefin Sans', sans-serif;
$eb: 'EB Garamond', serif;

//COLORS
$blue: hsl(218, 74%, 47%);
$red: hsl(355, 100%, 42%);
$lightgrey: hsl(0, 0%, 94%);